<div class="main top-main">
  <div class="top-message">
    <h2>世界の「いま」が、ここにある</h2>
    <p>あなたの「いま」もシェアしてみよう！</p>
    <div class="btn">
      <p><%= link_to("新規登録", "/signup") %></p>
      <p><%= link_to("ログイン", "/login") %></p>
    </div>
  </div>
</div>
